@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-white antialiased;
    margin: 0;
    padding: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .container {
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8;
  }
}
